<div class="edit-btn-container">
  <button mat-button class="edit-btn" [routerLink]="'/compose/' + articleId()">
    Edit <mat-icon fontIcon="edit"></mat-icon>
  </button>
</div>
<main class="page">
  @if (data.isLoading() && info.isLoading()) {
    <mat-progress-spinner></mat-progress-spinner>
  } @else if (data.value() != null && info.value()) {
    <app-article class="article" [data]="data.value()!" [info]="info.value()!">
    </app-article>
    <app-article-suggestion
      class="article-suggestion"
      [articles]="articles.value() ?? []"
    >
    </app-article-suggestion>
  }
</main>
