h1 {
  width: 100%;
  text-align: center;
}

.card {
  max-width: 30%;
  margin: auto;
}

.form {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.field {
  width: 100%;
  display: flex;

  mat-form-field {
    width: 100%;
  }

  mat-checkbox {
    margin: auto;
  }

  align-items: center;
  justify-items: center;
}

.error-text {
  color: red;
  text-align: left;
}
