<button
  type="button"
  (click)="onClick()"
  [ngStyle]="{
    'background-color': label.backgroundColor,
  }"
  class="label hidden"
>
  <div class="container">
    @if (useIcon) {
      <mat-icon
        [ngStyle]="{
          color: label.textColor,
        }"
        class="icon"
        [fontIcon]="useIcon"
        [inline]="true"
      >
      </mat-icon>
    }
    <p
      class="label-text"
      [ngStyle]="{
        color: label.textColor,
      }"
    >
      #{{ label.name }}
    </p>
  </div>
</button>
