<div class="header">
  <div class="left-side">
    <a routerLink="/home">
      <h1>Lorem Ipsum News</h1>
    </a>
  </div>
  @for (label of labels.value() ?? []; track label.id) {
    <app-label [label]="label"></app-label>
  }
  <div class="right-side">
    @if (user()) {
      <app-author [author]="user()!"></app-author>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
        Menu
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <button mat-button (click)="logout()">
        Log out
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    } @else {
      <button mat-button routerLink="/login">
        Login
        <mat-icon fontIcon="login"></mat-icon>
      </button>
      <button mat-button routerLink="/register">
        Register
        <mat-icon fontIcon="person_add"></mat-icon>
      </button>
    }
  </div>
</div>

<mat-menu #menu>
  <button mat-menu-item>
    Create article
    <mat-icon fontIcon="edit"></mat-icon>
  </button>
</mat-menu>
