<div class="header">
  <div class="left-side">
    <a routerLink="/home">
      <h1>Lorem Ipsum News</h1>
    </a>
  </div>
  @for (label of labels.value() ?? []; track label.id) {
    <app-label [label]="label"></app-label>
  }
  <div class="right-side">
    @if (user()) {
      <app-author [author]="user()!"></app-author>
      <button mat-button class="menu-button" [matMenuTriggerFor]="menu">
        Menu
        <mat-icon fontIcon="menu"></mat-icon>
      </button>
      <button mat-button (click)="logout()">
        Log out
        <mat-icon fontIcon="logout"></mat-icon>
      </button>
    } @else {
      <button mat-button routerLink="/login">
        Login
        <mat-icon fontIcon="login"></mat-icon>
      </button>
      <button mat-button routerLink="/register">
        Register
        <mat-icon fontIcon="person_add"></mat-icon>
      </button>
    }
  </div>
</div>

<mat-menu #menu>
  <ng-template matMenuContent>
    @if (permissionLevel() >= PermissionLevel.WRITER) {
      <button mat-menu-item routerLink="/compose">
        Create article
        <mat-icon fontIcon="edit"></mat-icon>
      </button>
      <button mat-menu-item routerLink="/gallery">
        Gallery <mat-icon fontIcon="images"></mat-icon>
      </button>
    }
    @if (permissionLevel() >= PermissionLevel.ADMIN) {
      <button mat-menu-item routerLink="/labels">
        Labels <mat-icon fontIcon="label"></mat-icon>
      </button>
    }
    <button mat-menu-item routerLink="/settings">
      Settings <mat-icon fontIcon="settings"></mat-icon>
    </button>
  </ng-template>
</mat-menu>
