.main-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-img {
  max-width: 70%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

div.article-content {
  padding-right: 50px;
}

h1.title {
  margin: 5px;
  text-align: left;
}

.date {
  font-size: smaller;
  margin: 0;

  margin-left: 30px;
}

.article-info {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.labels {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 60%;

  .label {
    align-content: center;
  }
}
