@if (info.title) {
  <h1 class="title">{{ info.title }}</h1>
}

<div>
  <div class="article-info">
    @if (info.author) {
      <app-author [author]="info.author"></app-author>
    }
    <div class="labels">
      @for (label of info.labels; track label.id) {
        <app-label [label]="label" class="label"> </app-label>
      }
    </div>
  </div>

  @if (info.createdAt) {
    <p class="date">
      Written {{ info.createdAt | distance }} ago ({{
        info.createdAt | date: 'medium'
      }})
    </p>
  }
  @if (info.updatedAt && info.updatedAt !== info.createdAt) {
    <p class="date">
      Edited {{ info.updatedAt | distance }} ago ({{
        info.updatedAt | date: 'medium'
      }})
    </p>
  }
</div>

@if (info.mainImage) {
  <div class="main-img-container">
    <img [src]="info.mainImage" class="main-img" />
  </div>
}

<div class="article-container">
  <div class="article-content">
    <markdown [data]="data"></markdown>
  </div>

  @if (locked) {
    <div class="login-box">
      <div class="fade-effect"></div>
      <div class="login-text">
        <p class="title">Do you like this article so far?</p>
        <p>
          Please <a routerLink="/register">register</a> or
          <a routerLink="/login">log in</a> to continue reading it.
        </p>
      </div>
    </div>
  }
</div>
