@if (title()) {
  <h1>{{ title() }}</h1>
}

<div>
  <div class="article-info">
    @if (author()) {
      <app-author [author]="author()!"></app-author>
    }

    @for (label of labels() ?? []; track label.id) {
      <app-label [label]="label" class="label"> </app-label>
    }
  </div>

  @if (createdAt()) {
    <p class="date">
      Written {{ createdAt() | distance }} ago ({{
        createdAt() | date: 'medium'
      }})
    </p>
  }
  @if (updatedAt() && updatedAt() !== createdAt()) {
    <p class="date">
      Edited {{ createdAt() | distance }} ago ({{
        updatedAt() | date: 'medium'
      }})
    </p>
  }
</div>

@if (mainImageUrl()) {
  <div class="main-img-container">
    <img [src]="mainImageUrl()" class="main-img" />
  </div>
}

<div class="article-content">
  <markdown [data]="data()"></markdown>
</div>
