.main-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-img {
  max-width: 70%;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.article-container {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding-right: 50px;
}

.article-content {
  padding-left: 10px;
  padding-right: 10px;
}

.login-box {
  padding-top: 100px;
  padding-bottom: 0px;
  display: flex;
  flex-flow: column;

  z-index: 10;

  margin-top: -200px;

  .fade-effect {
    background-image: linear-gradient(#0000, #666);
    height: 100px;
  }

  .login-text {
    padding: 30px;
    background-color: #666;
  }

  p {
    &.title {
      font-size: x-large;
    }

    margin: 5px;
  }

  a,
  a:any-link {
    color: #ccc;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: #eee;
    }
  }
}

h1.title {
  margin: 5px;
  text-align: left;
}

.date {
  font-size: smaller;
  margin: 0;

  margin-left: 30px;
}

.article-info {
  margin-top: 20px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.labels {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  max-width: 60%;

  .label {
    align-content: center;
  }
}
