<h1>Settings</h1>
<mat-card class="card">
  <mat-card-content>
    <div class="card-content">
      <div class="avatar">
        <app-author [author]="user()!"></app-author>

        <hr />
        <h2>Upload avatar</h2>

        <app-file-upload
          [disabled]="loading()"
          accept="image/*"
          (upload)="uploadAvatar($event)"
        >
        </app-file-upload>
        <button
          mat-button
          class="danger"
          (click)="deleteAvatar()"
          [disabled]="loading()"
        >
          Delete avatar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
