h1 {
  width: 100%;
  text-align: center;
}

.card {
  max-width: 20%;
  margin: auto;
}

.form {
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.error-text {
  color: red;
  text-align: left;
}

.button {
  margin: 10px;
}

.card-content {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.danger {
  background-color: crimson;
  color: white;
}

button {
  width: 100%;
}
