@if (articlesRes.isLoading()) {
  <mat-spinner class="spinner"></mat-spinner>
} @else if (articlesRes.error()) {
  <p class="error-text">{{ articlesRes.error() }}</p>
} @else if (articles().length > 0) {
  <ng-container *ngTemplateOutlet="paginator"></ng-container>
  <div class="articles">
    @for (article of articles(); track article.id) {
      <app-article-box [article]="article" class="article"></app-article-box>
    }
  </div>
  <ng-container *ngTemplateOutlet="paginator"></ng-container>
} @else {
  <p class="empty">No articles.</p>
}

<ng-template #paginator>
  <mat-paginator
    (page)="onPage($event)"
    [length]="count()"
    [pageSizeOptions]="[5, 10, 15, 20]"
    [pageIndex]="page()"
    [pageSize]="pageSize()"
  >
  </mat-paginator>
</ng-template>
