.row {
  display: flex;
  flex-flow: row;
  align-items: center;

  button {
    margin: 3px;
  }
}

.column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

h2 {
  margin: 1px;
}

.danger {
  background-color: crimson;
  color: #fff;
}
