{
  "$schema": "./env.schema.json",
  "app": {
    "port": 3000,
    "url": "http://localhost:3000"
  },
  "auth": {
    "salt": 5,
    "secret": "asd",
    "superadmin": {
      "username": "super",
      "password": "admin"
    },
    "tokenExpiresIn": "3 days"
  },
  "db": {
    "url": "mongodb://root:example@mongo:27017/app?authSource=admin"
  }
}
